.head{
    background-color: lavender;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.box {
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 5px
}

.editRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.row{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid black;
    margin-top: 5px;
    padding-bottom: 5px;
}

.buttonActions{
    margin-right: 5px;
}

button{
    height: 2rem;
}