<div class="head">
  <h1>{{title}}</h1>
</div>
<div class="box">
  <div class="editRow">
    <h2>List of passwords comes here:</h2><button (click)="addPassword()" >Add New Password</button>
  </div>
  
  <div *ngFor="let item of passwords" class="row">
    <div>Title: {{item.title}}</div>
    <div>Password: {{item.password}}</div>
    <div> 
      <button (click)="deletePassword(item.id)" class="buttonActions">Delete</button>
      <button (click)="editPasswort(item)" class="buttonActions">Edit</button>
    </div>
  </div>
</div>

<div class="box" *ngIf="selectedPassword != null">
  <div><h2>Edit Password</h2> </div>
  <div class="container">
    <label>Id: {{selectedPassword.id}} </label>
    <input type ="text" [(ngModel)]="selectedPassword.title" placeholder="title" />
    <input type="text" [(ngModel)]="selectedPassword.password" placeholder="password" />
    <button (click)="savePassword(selectedPassword)">Save password</button>
  </div>
</div>