<div class="head">
  <h1>{{title}}</h1>
</div>
<div class="box">
  <h2>List of passwords comes here:</h2>
  
  <div *ngFor="let item of passwords" class="row">
    <div>Title: {{item.title}}</div>
    <div>Password: {{item.password}}</div>
    <div></div>
  </div>
</div>

<div class="box">
  <h2>Add password</h2>
  <div class="container">
    <label>Id: {{passwordToAdd.id}} </label>
    <input type ="text" [(ngModel)]="passwordToAdd.title" placeholder="title" />
    <input type="text" [(ngModel)]="passwordToAdd.password" placeholder="password" />
    <button (click)="addPassword(passwordToAdd)">Save password</button>
  </div>
</div>